/* Define the keyframes for the border animation */
@keyframes borderAnimation {
  0% {
    border-color: red;
  }
  25% {
    border-color: yellow;
  }
  50% {
    border-color: green;
  }
  75% {
    border-color: blue;
  }
  100% {
    border-color: red;
  }
}

/* Apply the animation to the .float class */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #000000;
  color: #FFF;
  border-radius: 60px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  
  /* Add the border style for the animation */
  border: 5px solid;
  /* Set the animation properties */
  animation: borderAnimation 4s infinite;
}

.my-float {
  margin-top: 9px;
}


.team-overlay{
height: 95%;
position: absolute;
width: 90%;
top: 0;
opacity: 0;
transition: opacity 1s;
text-align: center;
}

.team-h4{
  bottom: 10px;
  position: absolute;
  margin: 10px 15px;
  color: #000;
  opacity: 0;
  transition: opacity 1s;
}

.team-1 {
  background-color: #ec8d81;
}

.team-2 {
  background-color: #87c5a4;
}

.team-3 {
  background-color: #8ea9e8;
}

.team-4 {
  background-color: #e7b788;
}

.team-member{
  cursor: pointer;
}
.team-member:hover .team-overlay{
  opacity: 0.4;
}

.team-member:hover .team-h4{
  opacity: 1;
}

.services table{
  border: solid 1px #e0e0e0;
}

.services table td{
  padding: 0.7rem;
}
